# Prerequisites
*.d

# The build and include folders
/build/
/include/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Signaling
crash_context*
agorartmdns.dat
agora_rtm_cache.db
agorartmreport.dat